# IDEs
.vscode/
.idea/

# Compiled bytecode
__pycache__/
*.py[cod]
*$py.class

# Local virtual environments
.venv/
venv/
env/
.env

# Pytest caches
.pytest_cache/
.coverage

# Project-specific output directories
results/
tb_logs/
logs/

# Visual outputs (recursively ignore these anywhere)
*.mp4
*.gif
*.png
*.jpg

# Model weights and checkpoints
*.ckpt
*.safetensors
*.h5
*.pb
*.pt
*.pth

# For illustration purposes
!illustrations/*